@mixin tablet {
  @media screen and (min-width: 400px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

// item and skills
@mixin common-style {
  @include tablet {
    grid-auto-flow: column;
    grid-template-columns: none;
  }
  display: grid;
  justify-content: start;
}

// skill
@mixin skill-style {
  display: inline-block;
  width: 100px;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}
