@import "../../utils/styles/scss/mixins.scss";
@import "../../utils/styles/scss/variables.scss";

.item {
  @include common-style;

  &__title {
    @include tablet {
      font-size: 40px;
      margin-left: 10px;
    }
    @include desktop {
      font-size: 70px;
    }
    color: $white;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
  }
}

.block {
  display: grid;
  gap: 8px;
}

.skills {
  @include common-style;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.skill {
  @include skill-style;

  &--black {
    background: $black;
  }

  &--green {
    background: $green;
  }

  &--orange {
    background: $orange;
  }

  &--red {
    background: $red;
  }

  &--blue {
    background: $blue;
  }
}

.links {
  @include tablet {
    grid-auto-flow: row;
  }

  display: grid;
  grid-auto-flow: column;
  justify-self: flex-start;
  align-content: center;
  gap: 5px;
}

.link {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  &--demo {
    background-color: $red2;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 10px solid $white;
    }
  }

  &--gh {
    background-color: $orange;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-size: cover;
      background-image: url("../../utils/images/git.png");
    }
  }
}
